## Title: LibTextFormat
## Author: Saranicole1980
## Version: ${ADDON_VERSION}
## APIVersion: 101048 101049
## AddOnVersion: 1
## Description: Advanced Text Formatting and Parsing
## IsLibrary: true

LibTextFormatGlobals.lua

# core
core/Helpers.lua
core/Scope.lua
core/Filters.lua
core/Protocol.lua

# filters
filter/Utility.lua
filters/Icons.lua
filters/Collections.lua
filters/Items.lua

LibTextFormat.lua
